<nav class="navbar navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <img src="https://i.postimg.cc/dt4K82dr/gg-removebg-preview.png" alt="" width="30" height="24">
      <span class="text-danger ms-1">G</span>lam
      <span class="text-danger">G</span>rab
    </a>

    <!-- <div class="search_container">
      <i class="fa-solid fa-magnifying-glass"></i>

      <input [(ngModel)]="productName"  [placeholder]="placeholderData" type="text" class="form-control">
    </div> -->
  </div>
</nav>